hr{
    height: 2px;
}

#total-container{
    border: 1px solid black;
    margin: 3%;
    padding: 5%;
}

#tax-row{
    border-bottom: 1px solid black;
}

#subtotal, #tax, #total{ 
    text-align: end;
}

#checkout-button{
    background-color: #1f1815;
    padding: 2% 8%;
    margin-right: 4%;
    width: 40%;
}

#keep-shopping{
    text-decoration: underline;
    color: black;
}

#checkout-container {
    margin: 1%;
}